<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%block name="bodyclass">view-in-course</%block>
<%block name="js_extra">

  
<script src="https://cdn.datatables.net/v/dt/dt-1.13.8/fc-4.3.0/datatables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

<script type="text/javascript" src="${static.url('eol_completion/js/eol_completion.js')}"></script>
</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
<link href="https://cdn.datatables.net/v/dt/dt-1.13.8/fc-4.3.0/datatables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" />

<style>
    .eolcompletion-wrapper th, 
    .eolcompletion-wrapper td {
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        white-space: nowrap;
        text-align: center !important;
    }
    
    .eolcompletion-wrapper th:first-child,
    .eolcompletion-wrapper td:first-child {
        border-left: 1px solid #dddddd;
    }
    body.view-in-course .container {
        display: flex;
        justify-content: center;
    }
    .container>div {
        width: 95%;
    }
    div.dt-buttons {
        float: none;
    }
    .eolcompletion-content{
        margin-top: 30px;
    }
    #eol-completion-time{
        text-align: center;
    }
    .dataTables_sizing{
        font-weight: 400 !important;
    }
    .dataTables_scrollHeadInner,
    .dataTables_scrollFootInner{
        margin: auto;
    }
</style>
</%block>
<%!
from django.utils.translation import ugettext as _
%>
<%include file="/courseware/course_navigation.html" args="active_page='eol_completion'" />

<section class="container">
    <div class="eolcompletion-wrapper">
        <section class="eolcompletion-content">
            <h2 class="hd hd-2 mt-0">Seguimiento de estudiantes</h2>
            <input type="text" name="data_url" id="data_url" value="${data_url}" hidden>
            <div class="loading" style="text-align: center;">
                    Cargando datos de la tabla ...
            </div>
            <div class="eol-completion-error" style="text-align: center;color: red;">
            </div>
            <section class="teams-content" style="visibility: hidden;margin-top: 30px;">
                <div class="dataTables_wrapper">
                    <!--div style="padding: 15px;">
                        Mostrar/Ocultar Sección:
                        <ul id="botones" style="padding-left: 20px;">
                        </ul>
                    </div-->
                    <table id="mytable"class="display nowrap" style="table-layout:auto; text-align: center;">
                        <thead>
                            <!--Main Header-->
                            <tr>
                                <% row_len = 3 %>
                                %if max_unit == 0:
                                    <% row_len = 1 %>
                                %endif
                                <th rowspan="${row_len}" data-col_from="0" data-col_to="0">Correo</th>
                                <th rowspan="${row_len}" data-col_from="1" data-col_to="1">Estudiante</th>
                                <th rowspan="${row_len}" data-col_from="2" data-col_to="2">Rut</th>
                                <% col_len = 3 %>
                                %for section in content.items():
                                    %if section[1]['type'] == 'section' and section[1]['num_children'] > 0:
                                        <th class="mainhead" colspan="${section[1]['num_children']+1}" data-col_from="${col_len}" data-col_to="${col_len+section[1]['num_children']}">${section[1]['name']}</th>
                                        <% col_len = col_len + section[1]['num_children'] +1 %>
                                    %endif
                                %endfor
                                %if max_unit == 0:
                                    <th rowspan="${row_len}" data-col_from="${col_len}" data-col_to="${col_len}">Sin Contenido</th>
                                    <th rowspan="${row_len}" data-col_from="${col_len+1}" data-col_to="${col_len+1}">Total</th>
                                    <th rowspan="${row_len}" data-col_from="${col_len+2}" data-col_to="${col_len+2}">Certificado Generado</th>
                                %else:
                                    <th rowspan="${row_len}" data-col_from="${col_len}" data-col_to="${col_len}">Total</th>
                                    <th rowspan="${row_len}" data-col_from="${col_len+1}" data-col_to="${col_len+1}">Certificado Generado</th>
                                %endif
                            </tr>
                                <!--Secondary Header-->
                            %if max_unit > 0:
                                <tr>
                                    <% i = 1 %>
                                    <% j = 1 %> 
                                    <% point_position = 2 %>
                                    <% first = True %>
                                    <% last = {'num_children':0} %>
                                    %for section in content.items():
                                        %if section[1]['type'] == 'subsection' and section[1]['num_children'] > 0:
                                            <td colspan="${section[1]['num_children']}" title="${section[1]['name']}"> ${i}.${j} </td>
                                            <% j += 1 %>
                                        %endif
                                        %if first and section[1]['type'] == 'section' and section[1]['num_children'] > 0:
                                            <% last = section[1] %>
                                        %endif
                                        %if not first and section[1]['type'] == 'section' and section[1]['num_children'] > 0:
                                            <% point_position = point_position + last['num_children'] + 1 %>
                                            <% last = section[1] %>
                                            <td rowspan="2" class="pto" id="${point_position}">Unidades</br>Completadas</td>
                                            <% i += 1 %>
                                            <% j= 1 %>    
                                        %endif
                                        %if first and section[1]['type'] == 'section' and section[1]['num_children'] > 0:
                                            <% first = False %>    
                                        %endif
                                    %endfor
                                    <% point_position = point_position + last['num_children'] + 1 %>
                                    %if max_unit > 0:
                                        <td rowspan="2" class="pto" id="${point_position}">Unidades</br>Completadas</td>
                                    %endif
                                </tr>
                                <!--Tertiary Header-->
                                <tr>
                                    <% i = 1 %>
                                    <% j = 1 %>
                                    <% k = 1 %>
                                    <% first = True %>
                                    <% first2 = True %>
                                    %for section in content.items():
                                        %if not first and section[1]['type'] == 'section' and section[1]['num_children'] > 0:
                                            <% i += 1 %> 
                                            <% j = 0 %>
                                        %endif
                                        %if not first2 and section[1]['type'] == 'subsection' and section[1]['num_children'] > 0:
                                            <% j += 1 %>
                                            <% k = 1 %>
                                        %endif
                                        %if section[1]['type'] == 'unit':
                                            <% first2 = False %> 
                                            <td title="${section[1]['name']}">
                                                ${i}.${j}.${k}
                                            </td>
                                            <% k += 1 %>
                                        %endif
                                        %if first and section[1]['type'] == 'section' and section[1]['num_children'] > 0:
                                            <% first = False %>
                                        %endif
                                    %endfor
                                </tr>
                            %endif
                        </thead>
                        <tbody></tbody>
                        <tfoot id="eol-completion-tfoot"></tfoot>
                    </table>
                </div>
            </section>
            <div id="eol-completion-time">
            </div>
        </section>
    </div>
</section>


