<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%block name="bodyclass">view-in-course</%block>
<%block name="js_extra">

  
<script src="https://cdn.datatables.net/v/dt/dt-1.13.8/fc-4.3.0/datatables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

<script type="text/javascript" src="${static.url('eol_completion/js/eol_completion.js')}"></script>
</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
<link href="https://cdn.datatables.net/v/dt/dt-1.13.8/fc-4.3.0/datatables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" />

<style>
    .eolcompletion-wrapper th, 
    .eolcompletion-wrapper td {
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        white-space: nowrap;
        text-align: center !important;
    }
    
    .eolcompletion-wrapper th:first-child,
    .eolcompletion-wrapper td:first-child {
        border-left: 1px solid #dddddd;
    }
    body.view-in-course .container {
        display: flex;
        justify-content: center;
    }
    .container>div {
        width: 95%;
    }
    div.dt-buttons {
        float: none;
    }
    .eolcompletion-content{
        margin-top: 30px;
    }
    #eol-completion-time{
        text-align: center;
    }
    .dataTables_sizing{
        font-weight: 400 !important;
    }
    .dataTables_scrollHeadInner,
    .dataTables_scrollFootInner{
        margin: auto;
    }
</style>
</%block>
<%!
from django.utils.translation import ugettext as _
%>
<%include file="/courseware/course_navigation.html" args="active_page='eol_completion'" />

<section class="container">
    <div class="eolcompletion-wrapper">
        <section class="eolcompletion-content">
            <h2 class="hd hd-2 mt-0">Seguimiento de estudiantes</h2>
            <input type="text" name="data_url" id="data_url" value="${data_url}" hidden>
            <div class="loading" style="text-align: center;">
                    Cargando datos de la tabla ...
            </div>
            <div class="eol-completion-error" style="text-align: center;color: red;">
            </div>
            <section class="teams-content" style="visibility: hidden;margin-top: 30px;">
                <div class="dataTables_wrapper">
                    <table id="mytable" style="table-layout:auto; text-align: center;">
                        <thead>
                            <!--Main Header-->
                            <th>Estudiante</th>
                            <th>Rut</th>
                            <th>Correo</th>
                            <th>Ultima Completitud</th>
                            <th>Ultimo Login</th>
                        </thead>
                        <tbody></tbody>
                        <tfoot id="eol-completion-tfoot">
                            <th>Estudiante</th>
                            <th>Rut</th>
                            <th>Correo</th>
                            <th>Ultima Completitud</th>
                            <th>Ultimo Login</th>
                        </tfoot>
                    </table>
                </div>
            </section>
            <div id="eol-completion-time">
            </div>
        </section>
    </div>
</section>


